svg.icon {
    /* width: 1em;
    height: 1em; */
    width: 16px;
    height: 16px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.scale-1px{
    position: relative;
}
.scale-1px::after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #D8D8D8;
    z-index: 2;
    transform: scale(1,0.5);
}
.scaleTop-1px {
  position: relative;
}
.scaleTop-1px::after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #D8D8D8;
  z-index: 1;
  transform: scale(1,0.5);
}
table {
    border-collapse:collapse; 
    border-spacing:0; 
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-start {
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
.flex-center-around {
    display: flex;
    justify-content: center;
    align-content: space-around;
}
.flex-center-between {
    display: flex;
    justify-content: center;
    align-content: space-between;
}
.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-between-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.flex-start-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-start-between {
    display: flex;
    justify-content: flex-start;
    align-content: space-between
}
.text-center {
    text-align: center;
}

h1{
	font-size: 30px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
p{
	font-size: 14px;
}
span{
	font-size: 12px;
}
.right_6 {
    margin-right: 6px;
}
.left_6 {
    margin-left: 6px;
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}
input,textarea{
    color: #666;
    font-size: 14px;
}

.icon {
    vertical-align: initial;
}

.page-top {
    color: #fff;
    background-color: #2395f7;
    padding: 0 16px;
    height: 45px;
}
.page-top .page-title {
    font-size: 16px;
    line-height: 45px;
}
.page-top .page-top-right {
    font-size: 16px;
    display: inline-block;
    width: 90px;
    text-align: right;
}
.page-top .page-top-left {
    font-size: 16px;
    display: inline-block;
    width: 90px;
    text-align: left;
}
.page-top .page-top-left i{ 
    font-size: 14px;
}
/*表单渲染样式*/
.mint-cell-wrapper {
  background-image: none;
  background-color: #fff;
}


 /*下拉单选*/
.SINGLE_COMBOX {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1px;
}
.SINGLE_COMBOX select {
  flex: 1;
  font-size: 14px;
}
/**多选下拉**/
.MULTI_COMBOX {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1px;
}
.MULTI_COMBOX select {
  flex: 1;
  font-size: 14px;
}
/*多选框*/
.CHECKBOX {
  /*display: flex;
  flex-direction: column;*/
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  min-height: 54px;
}
.CHECKBOX .CHECKBOX_title {
  padding-top: 6px;
 }
.CHECKBOX .CHECKBOX_box .mint-checklist .mint-cell-wrapper {
  padding: 6px 0 0 0;
}
.CHECKBOX .CHECKBOX_box .Extend_input {
  width: 100%;
  min-height: 32px;
  margin-top: 2px;
  padding-left: 5px;
}
  /*单选框*/
.RADIO_BUTTON{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  min-height: 54px;
}
.RADIO_BUTTON .radio-title{
  padding-top: 5px;
  line-height: 20px;
}
.RADIO_BUTTON .RADIO_BUTTON_box .mint-radiolist {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.RADIO_BUTTON .RADIO_BUTTON_box .mint-radiolist .mint-cell{
  min-height: 24px;
}
.RADIO_BUTTON .RADIO_BUTTON_box .mint-radiolist .mint-cell .mint-cell-wrapper {
  padding: 6px 0 0 0;
}
.RADIO_BUTTON .RADIO_BUTTON_box .mint-radiolist .mint-cell .mint-cell-wrapper .mint-cell-title {
  display: inline-block;
  width: auto;
  min-width: 50px;
}
.RADIO_BUTTON .RADIO_BUTTON_box .mint-radiolist .mint-radiolist-label {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.RADIO_BUTTON .RADIO_BUTTON_box .mint-radiolist .mint-radiolist-label .mint-radio-core {
  transform: scale(0.8)
}
.RADIO_BUTTON .RADIO_BUTTON_box .mint-radiolist .mint-radiolist-title {
  display: none;
}
.RADIO_BUTTON .RADIO_BUTTON_box .Extend_input {
  width: 100%;
  min-height: 32px;
  margin-top: 4px;
  padding-left: 5px;
}
/** 集合 **/
.GATHER{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 54px;
  width: 100%;
}
.GATHER .GATHER_title {
  display: flex;
  flex-direction: row;
  min-height: 54px;
}
.GATHER .GATHER_title .mint-radiolist {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.GATHER .GATHER_title .mint-radiolist .mint-cell{
  min-height: 24px;
}
.GATHER .GATHER_title .mint-radiolist .mint-cell .mint-cell-wrapper .mint-cell-title {
  display: inline-block;
  width: auto;
  min-width: 50px;
}
.GATHER .GATHER_title .mint-radiolist .mint-radiolist-label {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.GATHER .GATHER_title .mint-radiolist .mint-radiolist-label .mint-radio-core {
  transform: scale(0.8)
}
.GATHER .GATHER_title .mint-radiolist .mint-radiolist-title {
  display: none;
}
 /*多行文本*/
.MULTI_INPUT {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.MULTI_INPUT>span{
  font-size: 14px;
  color: #333;
}
.MULTI_INPUT .MULTI_INPUT-box {
  padding-top: 5px;
}
.MULTI_INPUT textarea {
  width: 100%;
  background: #F8F8F8;
  padding: 5px;
  border: none;
}
.MULTI_INPUT textarea::-webkit-input-placeholder {
   color: #666666;
   font-size: 13px;
 }
/**日期**/
.DATE{
  min-height: 54px;
  display: flex;
}
.DATE input{
  flex: 1;
  font-size: 13px;
  min-width: 150px;
}
